<!-- <div class="students">
    <h3>Contenido Principal</h3>
    <h5>Este es el contenido de todo</h5>

</div> -->

<div class="container">
    <div class="card-group mt-3">

        <div class="col-md">
            <div class="card text-center border-info" style="height:100% ;">
                <div class="card-body">
                    <h4 class="card-title">México</h4>
                    <p class="card-text">El inicio de la historia de México se remonta a la llegada de los pobladores originarios hace más de 10.000 años. Poco a poco comenzaron a surgir grandes pueblos (destacan las civilizaciones Olmecas, Teotihuacana, Maya y Mexica o Azteca)
                        que ocuparon diferentes y grandes territorios y desarrollaron sus civilizaciones. </p>
                    <a href="#" class="btn btn-primary">Entrar</a>
                </div>
            </div>
        </div>

        <div class="card text-center border-info">
            <div class="card-body">
                <h4 class="card-title">Argentina</h4>
                <p class="card-text">El territorio actual de Argentina fue parte del Virreinato del Perú hasta 1776 cuando el Rey de España, Carlos III, decidió establecer el Virreinato del Río de la Plata, debido a su importancia como salida al mar. Así, Buenos Aires se
                    convirtió en el puerto comercial del Virreinato, uniendo Potosí con España.</p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>
        <div class="card text-center border-info">
            <div class="card-body">
                <h4 class="card-title">Honduras</h4>
                <p class="card-text">Honduras declaró su Independencia de Centroamérica el 15 de noviembre de 1838. En enero de 1839, se adoptó formalmente la primera constitución del país. El general Francisco Ferrera se convirtió en el primer presidente (1841 - 42) del
                    país luego de que este, se presentara como candidato único.</p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>

        <br>
        <div class="card text-center border-info" style="background-image: url(https://image.shutterstock.com/image-illustration/green-world-map-3d-tree-600w-2085641539.jpg) ;">
            <div class="card-body">
                <h4 class="card-title">Perú</h4>
                <p class="card-text">La historia de Perú se remonta a hace más de 11.000 años, con la presencia cazadores-recolectores nómadas que aparecieron en el territorio actual del país mucho antes incluso que ahí se estableciese la civilización de Norte Chico, una
                    de las seis más antiguas del mundo.</p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>

        <div class="card text-center border-info">
            <div class="card-body">
                <h4 class="card-title">Brasil</h4>
                <p class="card-text">La historia de Brasil comienza con la llegada de los primeros humanos a América del Sur hace por lo menos 20 000 años A. C..1​3​ A finales del siglo xv, cuando se suscribió el Tratado de Tordesillas, toda el área hoy conocida como Brasil
                    estaba habitada por tribus seminómadas que subsistían de la caza, pesca, recolección y agricultura.</p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>
        <div class="card text-center border-info" style="height: 100%;">
            <div class="card-body">
                <h4 class="card-title">Chile</h4>
                <p class="card-text">La historia de Chile se divide generalmente en doce periodos que abarcan desde el comienzo del poblamiento humano del territorio actual de Chile, hasta la actualidad. El periodo prehispánico corresponde a la historia de las diferentes
                    etnias amerindias presentes en el territorio, extendiéndose desde alrededor del año 14 800 a. C. hasta la llegada de los españoles.
                </p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>

    </div>
</div>